.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pulse {
  animation: pulse infinite 0.5s ease-in-out alternate;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #07070708;
}

input::placeholder {
  color: red !important;
  font-size: 1.2em;
  font-style: italic;
}

@keyframes pulse {
  from {
    background-color: white;
  }

  to {
    background-color: skyblue;
  }
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

@media print {
  .templatebox {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
    display: none !important;
  }

  .print-no-break {
    page-break-inside: avoid;
  }

  /* Adjust margins and padding as needed */
  body {
    transform: scale(1);
    transform-origin: top left;
  }

  /* Set page dimensions */
  @page {
    /* size: 595px 842px; */
    /* Width Height */
    margin: 0;
    /* Reset page margins */
  }
}